<% include header %>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form  class="contact100-form" action="/upload" method="POST" enctype="multipart/form-data">
			<span class="contact100-form-title">
			<h1>File Upload </h1>
			</span>

				<%= typeof msg != 'undefined' ? msg : '' %>	

				<label class="label-input100">Select Image</label>
				<input  class="input100" type="file" name="myimage">
				<button class="contact100-form-btn">
				<span>
					Submit
				<i class="zmdi zmdi-arrow-right m-l-8"></i>
				</span>
			</button>
		</form>
	</div>
</div>

	<script src="./js/jquery-3.4.0.min.js"></script> 
   
</body>
</html>